server:
  port: 8081

spring:
  application:
    name: attendance-app

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: eidiko
    password: sarasu10
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: shubhamthokare.eidiko@gmail.com
    password: "vwhg rcje qxsv zkmf"   # Gmail App Password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    secret: verysecretkeychangeit
    expiration-ms: 86400000 # 1 day
  file:
    upload-dir: ./uploads
