server:
  port: 8081

spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/XEPDB1
    username: eidiko
    password: sarasu10
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest

kafka:
  bootstrap-servers: localhost:9092

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: shubhamthokare.eidiko@gmail.com
    password: app_password_here 
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    root: INFO
    com.example: DEBUG

app:
  leaderboard:
    page-size: 10
